.info {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0;
    border-top: 1px solid black;
    padding: 5rem;
}

.activity-button {
    padding: 2rem 5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 1rem;
    border: 2px solid silver;
    outline: silver;
    box-shadow: 5px 10px 10px black;

    &:hover {
        cursor: pointer;
    }

    &:active {
        box-shadow: none;
        margin: 5px 0 2.5rem 10px;
    }
}

.hero__use {
    font-size: 1.8rem;
    width: 50%;
    margin: 0 auto;
    padding-top: 3rem;
}

.this-activity {
    font-size: 1.8rem;
}

.activity {
    font-weight: bold;
}
